<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homepage</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
  <div class="container">
    <div class="header">
      <h4>FastAPI with Google Oauth</h4>
      <div class="image-box">
        <img src="{{ url_for('static', path='icons/avatar.png') }}" alt="" class="img">
      </div>
    </div>
    <a href="/login" class="google-btn">
      <div class="google-icon"></div>
      <span class="btn-text">Signin with Google</span>
    </a>
  </div>
</body>
</html>